mat-toolbar {
    padding: 10px 20px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

#home-link {
    display: flex;
    align-items: center;

    text-decoration: none;
    color: #222;
    font-size: 1.8rem;
}

#img-logo {
    height: 50px;
}

#user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-link {
    color: blue;
    cursor: pointer;
    text-decoration: none;
}