.main-card {
    width: 50%;
}

#submit-button {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.row * {
    width: 100%;
}

#documentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.documento {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.documento mat-form-field {
    width: 100%;
}

.remove-documento-button {
    margin-top: 10px;
}

#errors {
    margin-bottom: 10px;
    color: #f44336;
    padding: 10px;
    text-align: center;
}